.collapsible
  position: absolute
  width: 100%
  top: 33rem
  z-index: 100

  .collapsible-container
    display: flex
    flex-direction: column
    justify-content: center
    justify-items: center
    align-items: center
    margin-left: 2rem

    .item-collapsible
      width: 41rem

      .btn-collapse, div
        width: 100%

      .btn-collapse
        margin: 1px
        height: 2.5rem
        background-color: #4583B2
        display: flex
        flex-direction: row
        border: 2px solid #000000
        border-radius: 6px

        &:hover
          background-color: #2F5E82

        .name
          padding-top: 10px
          padding-left: 1rem
          color: white
          font-weight: bold
          font-size: 17px

        .arrow
          text-align: end
          padding-right: 1rem
          font-size: 15px
          color: white
          font-weight: bold

          img
            width: 16px
            margin-top: 12px
            padding-left: 13px

      .content-collapse
        display: none

      &.active
        .content-collapse
          display: block



  @media screen and (max-width: 1061px)
    .collapsible-container
        .item-collapsible
            width: 34rem
            
    
  @media screen and (max-width: 650px)
    top: 20rem

    .collapsible-container
      margin-left: 0

      .item-collapsible
        width: 88%