
body
  overflow-x: hidden

.main-container
  .date-content
    text-align: end
    font-weight: bold

    strong
      display: none

    &.desktop
      position: fixed
      left: 84%
      padding-right: 3rem
      padding-top: 11px
      text-align: center
    
    &:not(.desktop)
      display: none

  .header-text
    display: flex
    justify-content: center

  .map-text-container
    width: 42%
    position: absolute
    top: 24rem

    .province-title
      font-size: 26px
      float: right

      strong
        position: absolute
        width: 14rem
        top: 2px
        margin-left: 7.2rem
    
  .loader
    display: flex
    padding-top: 26rem
    justify-content: center
    padding-left: 2rem

  .map-container
    display: flex
    justify-content: center
    transform: translate(-1%, -50%);

    .map-wrapper
      height: 53rem
      position: absolute
      -webkit-transform: rotate(-13deg)
      -moz-transform: rotate(-13deg)
      -ms-transform: rotate(-13deg)
      -o-transform: rotate(-13deg)
      transform: rotate(-13deg)

      path
        fill: #52BE80
        stroke: rgb(255, 255, 255);

        &.hovered
          fill: green

  @media screen and (max-width: 1061px)
    .date-content
      display: flex
      flex-direction: row
      justify-content: center
      font-size: 13px
      font-weight: normal

      strong
        display: block

      &.desktop
        display: none
      &:not(.desktop)
        display: flex
        flex-direction: row
        justify-content: center

    .header-text
      flex-direction: column
      text-align: center

      h1
        margin-bottom: 6px

  @media screen and (max-width: 650px)
    .loader
      padding-top: 15rem
      padding-left: 0

      svg
        width: 71px

    .map-container
      transform: translate(-4%)
      .map-wrapper
        height: 28.5rem

    .header-text h1
      font-size: 23px

    .map-text-container
      top: 14rem
      left: 4rem

      .province-title
        display: flex;
        flex-direction: column
        padding-top: 0.5rem
        margin-left: 4rem
        font-size: 20px

        div, strong
          width: 12rem
          text-align: center

        strong
          top: 1.8rem
          margin-left: 0
  
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
    .map-container
      .map-wrapper
        transform: translate(-50%);
