
.table-box-container
  .first-block
    .data-set
      display: flex
      flex-direction: row

      .box-item
        display: flex
        flex-direction: column
        justify-content: center
        text-align: center
        border: 2px solid
        width: 38rem
        height: 7rem
        border-radius: 6px
        margin-bottom: 1px
        background-color: darkgray

        .title
          font-size: 17px

        .result
          font-size: 30px
          font-weight: bold

      &:nth-child(odd)
        .box-item:nth-child(odd)
          background-color: skyblue
      &:nth-child(even)
        .box-item:nth-child(even)
          background-color: skyblue
  .second-block
    text-align: center

    .title
      font-size: 19px
      font-weight: bold
      padding-top: 22px

    .alerts-set
      display: flex
      flex-direction: row
      padding-bottom: 2rem

      .alert-item
        .title
          padding-bottom: 12px

        .desc
          padding-top: 1rem

        .dot
          height: 9rem
          width: 9rem
          border-radius: 50%
          display: inline-block
          border: 3px solid black

          &.naranja
            background-color: orange

          &.amarilla
            background-color: yellow


        