
.table-box-container
  .first-block
    .data-set
      display: flex
      flex-direction: row

      .box-item
        display: flex
        flex-direction: column
        justify-content: center
        text-align: center
        border: 2px solid
        width: 38rem
        height: 7rem
        border-radius: 6px
        margin-bottom: 1px